*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  border: none;
  outline: none;
  background: none;
  font-size: inherit;
  cursor: pointer;
}

.header,
.footer {
  background-color: #222;
}

.nav-menu,
.nav-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  font-size: 1.2rem;
}

.nav-list li {
  padding: 0.5em;
  color: white;
  margin-right: 1rem;
}

.nav-list li:last-child {
  margin-right: 2rem;
}

.nav-list li:last-child,
.intro-btn {
  background-color: #00aaff;
  border-radius: 10000px;
  padding: 0.5em 1.2em;
}

.logo {
  padding: 0.5em;
}

.intro-section {
  background-image: url(img/header_image.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10em;
}

.intro-section h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 0.2em;
}

.intro-section p {
  color: white;
  font-size: 1.5rem;
  font-family: Georgia;
  margin-bottom: 0.8em;
}

.intro-btn {
  color: white;
  margin-bottom: 30em;
}

.intro-arrow {
  margin-bottom: 1em;
}

.curric-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.curric-section h2,
.contact-section h2 {
  font-size: 2rem;
}

.curric-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 3rem;
}

.curric-grid li {
  display: flex;
  align-items: center;
}

.curric-grid img {
  max-width: 4vw;
  margin-right: 1rem;
}

.prices-section {
  background-color: #00aaff;
  margin-top: 2.2rem;
}

.price-cards {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.price-card {
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.3em;
}

.price-card:first-child,
.price-card:last-child {
  margin: 1rem 0;
  background-color: hsl(200, 40%, 70%);
}

.price-card:first-child {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.price-card:last-child {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.price-header {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.price-header h3 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.price-value {
  font-size: 2rem;
  font-weight: bold;
}

.price-value::after {
  content: "/mo";
  font-size: 0.75rem;
  margin-left: 0.1rem;
  color: #777;
}

.price-feature {
  margin-bottom: 0.5rem;
}

.price-feature:last-child {
  margin-bottom: 0;
}

.price-feature.feature-disabled {
  color: #777;
  text-decoration: line-through;
}

.div-text {
  max-width: 20vw;
  line-height: 1.5;
  font-size: 1.2rem;
}

.contact-section {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-contact {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-top: 3rem;
  min-width: 50vw;
}

.form-contact label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form-contact input,
.form-contact textarea {
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1em;
}

.form-contact textarea {
  height: 5rem;
  resize: none;
}

.form-contact .btn-submit {
  width: 100px;
  align-self: flex-end;
  padding: 0.5em;
  background-color: #00aaff;
  color: white;
  border-radius: 4px;
}

.footer {
  margin-top: 4rem;
}

@media (max-width: 700px) {
  .curric-grid {
    grid-template-columns: repeat(1, minmax(auto, 450px));
    gap: 3rem;
    margin-top: 3rem;
  }
  .price-cards {
    flex-wrap: wrap;
  }

  .price-card {
    width: 100%;
    text-align: center;
  }

  .price-card:first-child,
  .price-card:last-child {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0.3em;
  }

  .feature-disabled {
    display: none;
  }
}
